name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
  pull_request:
    branches:
      - main
      - dev

jobs:
  build-push:
    runs-on: self-hosted
    env:
      COMPONENT_TYPE: "backend"
      IMAGE_NAME: "simple-python-api-backend"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine Strategy
        id: strategy
        shell: bash
        run: |
          # Defaults
          DO_PUSH="false"
          IMAGE_TAG=""

          EVENT="${{ github.event_name }}"
          REF="${{ github.ref_name }}"
          REF_TYPE="${{ github.ref_type }}"

          echo "Event: $EVENT, Ref: $REF, Type: $REF_TYPE"

          if [ "$REF_TYPE" == "tag" ]; then
             echo "Tag push detected. Will push to registry."
             DO_PUSH="true"
             IMAGE_TAG="$REF"
          fi

          if [ "$REF" == "dev" ] || [ "$REF" == "refs/heads/dev" ]; then
             echo "Dev branch detected. Using DEV_NEXUS_URL."
             SELECTED_NEXUS_URL="${{ secrets.DEV_NEXUS_URL }}"
          else
             echo "Using standard NEXUS_URL."
             SELECTED_NEXUS_URL="${{ secrets.NEXUS_URL }}"
          fi


          echo "do_push=$DO_PUSH" >> $GITHUB_OUTPUT
          echo "tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "nexus_url=$SELECTED_NEXUS_URL" >> $GITHUB_OUTPUT
          echo "Final Strategy -> Tag: $IMAGE_TAG | Push: $DO_PUSH | Nexus: $SELECTED_NEXUS_URL"

      - name: Login to Nexus
        if: steps.strategy.outputs.do_push == 'true'
        run: |
          echo "${{ secrets.NEXUS_PASSWORD }}" | docker login "${{ steps.strategy.outputs.nexus_url }}" -u "${{ secrets.NEXUS_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: |
          IMAGE_TAG="${{ steps.strategy.outputs.tag }}"
          NEXUS_URL="${{ steps.strategy.outputs.nexus_url }}"

          FULL_IMAGE_PATH="$NEXUS_URL/${{ env.COMPONENT_TYPE }}/${{ env.IMAGE_NAME }}:$IMAGE_TAG"

          echo "Building $FULL_IMAGE_PATH..."
          docker build -t "$FULL_IMAGE_PATH" .

      - name: Push Docker Image
        if: steps.strategy.outputs.do_push == 'true'
        run: |
          IMAGE_TAG="${{ steps.strategy.outputs.tag }}"
          NEXUS_URL="${{ steps.strategy.outputs.nexus_url }}"

          FULL_IMAGE_PATH="$NEXUS_URL/${{ env.COMPONENT_TYPE }}/${{ env.IMAGE_NAME }}:$IMAGE_TAG"

          echo "Pushing $FULL_IMAGE_PATH..."
          docker push "$FULL_IMAGE_PATH"
